<!--<div>
    <form action="">
        <label>Fotos
        <img src="{{datos.fotos}}" width="110" height="110"/>
      <input type="text" name="username" value="{{username}}"/>
    </label>
     <label>Name
        <img src="{{datos.fotos}}" width="110" height="110"/>
      <input type="text" name="name" value="{{name}}"/>
    </label>
     <label>Email
        <img src="{{datos.fotos}}" width="110" height="110"/>
      <input type="text" name="email" value="{{email}}"/>
    </label>
     <img src=""{{foto}} alt="" width="100" height="100">
     </form>
</div>-->